@model birds.Models.TaxSubSpecies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaxSubSpecies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSubSpeciesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSubSpeciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSpecies.TaxSpeciesName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaxSubSpeciesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
