@model birds.Models.StudyData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudyData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Study)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Study.StudyID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSpecies.TaxSpeciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSubSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSubSpecies.TaxSubSpeciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continent.ContinentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pellets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pellets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreyRemains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreyRemains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num_obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num_obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudyDataID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
