@model birds.Models.TaxKingdom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kingdom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxKingdomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxKingdomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxDomain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxDomain.TaxDomainName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaxKingdomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
