@model birds.Models.TaxSpeciesCommonName

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TaxSpeciesCommonName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPrimaryCommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPrimaryCommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSpecies.TaxSpeciesName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaxSpeciesCommonNameID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
