@model birds.Models.Study

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Study</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Journal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Journal.JournalName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
