@model birds.Models.TaxGenus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxGenusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxGenusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxFamily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxFamily.TaxFamilyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaxGenusID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
