@model birds.Models.TaxSpecies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaxSpecies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSpeciesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSpeciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirdLifeRecognised)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirdLifeRecognised)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IUNC_RedListCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IUNC_RedListCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSources)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSources)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SISRecID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SISRecID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxGenus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxGenus.TaxGenusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaxSpeciesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
